html {
    min-height: 100%;
}

.InfoIcon {
    width: 10%;
    border-radius: 20px;
    float: left;
}

body {
    /* Firefox */
    background: -moz-linear-gradient(top, #3d3d3d, #212121);
    /* Chrome , Safari */
    background: -webkit-linear-gradient(top, #3d3d3d, #212121);
    /* IE11 */
    background: linear-gradient(to bottom, #3d3d3d, #212121);
    /* 代用 */
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Yu Gothic UI','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Meiryo UI',sans-serif;
}

h1 {
    position: relative;
    padding: 0.25em 1em;
    border-top: solid 2px rgb(0, 183, 255);
    border-bottom: solid 2px rgb(0, 183, 255);
    text-align : center
  }
  h1:before, h1:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: rgb(0, 183, 255);
  }
  h1:before {
    left: 7px;
  }
  h1:after {
    right: 7px;
  }

h2{
    color: #00cbff
}

.downloadButton {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
}

.DroidDownload {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #3fc742;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

    margin-left: 20px;
}

.DroidDownload:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;

}

.altDownload {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgba(59, 135, 141, 1);
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

    margin-left: 10px;
}

.altDownload:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;

}


.ipaDownload {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000000;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

    margin-left: 10px;
}

.ipaDownload:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;

}

.AddCydia {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #bb7900;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;

    margin-left: 20px;
}

.AddCydia:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;

}

.AddSileo {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #00f7ff;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-left: 20px;
}

.AddSileo:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.macDownload {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #000a5f;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-left: 20px;
}

.macDownload:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.DeviceInfo {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #FFFFFF;
    border-radius: 5px;

}


.DeviceInfo::after {
        content: "";
        clear: both;
        display: block;
}

/*https://codepen.io/vkjgr/pen/VYMeXp を利用*/
select {

    /* styling */
    background-color: black;
    border: thin solid skyblue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    color: #FFFFFF;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* arrows */

    background-image:
    linear-gradient(45deg, transparent 50%, blue 50%),
    linear-gradient(135deg, blue 50%, transparent 50%),
    linear-gradient(to right, skyblue, skyblue);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        100% 0;
    background-size:
        5px 5px,
        5px 5px,
        2.5em 2.5em;
  background-repeat: no-repeat;
}
  
select:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}